.card-component {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    border-radius: 8px;
    margin: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.card-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
}